html,body { height: 100%; }

body { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding-top: 40px; padding-bottom: 40px; background-color: #f5f5f5;  }
/* 로그인 css */
.form-signin { width: 100%; max-width: 600px; padding: 15px; margin: auto; }
.form-signin .checkbox { font-weight: 400; }
.form-signin .form-control { position: relative; box-sizing: border-box; height: auto; padding: 10px; font-size: 16px; }
.form-signin .form-control:focus { z-index: 2; }
#emp-no-input { margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
#password-input { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }
#sign-in-button { color: #ffffff; background: linear-gradient(to bottom, #48759d 0%,#39668f 41%,#18456f 100%); }
/* 로그인 css */
/* common css */
.hufs-font-b { font-family:'hufs_B' }
.hufs-font-m { font-family:'hufs_M' }
.hufs-font-l { font-family:'hufs_L' }

.primary-bg { background-color: #343a40; }
.primary-fg { color: #343a40; }
.dark-bg { background-color: #403f3f; }
.dark-fg { color: #403f3f; }
.hufs-primary-bg { background-color: #152c46; }
.hufs-primary-fg { color: #152c46; }
.hufs-secondary-bg { background-color: #008294; }
.hufs-secondary-fg { color: #008294; }
.hufs-accent-bg { background-color: #8d704f; }
.hufs-accent-fg { color: #8d704f; }

.hufs-primary-button { background-color: #152c46 !important; color: #ffffff !important; }
.hufs-secondary-button { background-color: #008294 !important; color: #ffffff !important; }
.hufs-accent-button { background-color: #8d704f !important; color: #ffffff !important; }
.hufs-dark-button { background-color: #403f3f !important; color: #ffffff !important; }
.hufs-popup-inverse-button { background-color: #ffffff; color: #444444; border: solid 1px #d6d8db; }

.login-form-div { border: 5px solid #bea17f; margin-top: 10px; padding: 30px 50px; box-shadow: 0px 1px 2px #9c9c9c; background-color: #fff; box-sizing: border-box; }
.login-form-div h2 { display: block; border-bottom: 1px solid #cccccc; }
.login-form-div .alert { margin-top: 20px;  background-color: #f2f5f5; border: 3px solid #b1ccd0; border-radius: 0 !important; font-size: 14px; }
.login-form-div .login-as-div { margin-bottom: 10px; }
.login-form-div .login-as-div span { position:relative; top:-1px; }

@font-face {
    font-family:'hufs_B';
    src:url('../../font/hufs/hufs_B.eot');
    src: url('../../font/hufs/hufs_B.eot?#iefix') format('embedded-opentype'),
    url('../../font/hufs/hufs_B.woff') format('woff'),
    url('../../font/hufs/hufs_B.ttf') format('truetype');
    font-style:normal; font-weight:normal;
}
@font-face {
    font-family:'hufs_L';
    src:url('../../font/hufs/hufs_L.eot');
    src: url('../../font/hufs/hufs_L.eot?#iefix') format('embedded-opentype'),
    url('../../font/hufs/hufs_L.woff') format('woff'),
    url('../../font/hufs/hufs_L.ttf') format('truetype');
    font-style:normal; font-weight:normal;
}
@font-face {
    font-family:'hufs_M';
    src:url('../../font/hufs/hufs_M.eot');
    src: url('../../font/hufs/hufs_M.eot?#iefix') format('embedded-opentype'),
    url('../../font/hufs/hufs_M.woff') format('woff'),
    url('../../font/hufs/hufs_M.ttf') format('truetype');
    font-style:normal; font-weight:normal;
}
/* common css */