/* 전역 클래스 스타일링 */
/* font */
.hufs-font-b {
  font-family: "hufs_B";
}
.hufs-font-m {
  font-family: "hufs_M";
}
.hufs-font-l {
  font-family: "hufs_L";
}
/* bg, fg */
.primary-bg {
  background-color: #343a40;
}
.primary-fg {
  color: #343a40;
}
.dark-bg {
  background-color: #403f3f;
}
.dark-fg {
  color: #403f3f;
}
.hufs-primary-bg {
  background-color: #152c46;
}
.hufs-primary-fg {
  color: #152c46;
}
.hufs-secondary-bg {
  background-color: #008294;
}
.hufs-secondary-fg {
  color: #008294;
}
.hufs-accent-bg {
  background-color: #8d704f;
}
.hufs-accent-fg {
  color: #8d704f;
}
/* button */
.hufs-primary-button {
  background-color: #152c46 !important;
  color: #ffffff !important;
}
.hufs-secondary-button {
  background-color: #008294 !important;
  color: #ffffff !important;
}
.hufs-accent-button {
  background-color: #8d704f !important;
  color: #ffffff !important;
}
.hufs-dark-button {
  background-color: #403f3f !important;
  color: #ffffff !important;
}
.hufs-popup-inverse-button {
  background-color: #ffffff;
  color: #444444;
  border: solid 1px #d6d8db;
}
/* font-face */
@font-face {
  font-family: "hufs_B";
  src: url("../font/hufs/hufs_B.eot");
  src: url("../font/hufs/hufs_B.eot?#iefix") format("embedded-opentype"), url("../font/hufs/hufs_B.woff") format("woff"),
    url("../font/hufs/hufs_B.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "hufs_L";
  src: url("../font/hufs/hufs_L.eot");
  src: url("../font/hufs/hufs_L.eot?#iefix") format("embedded-opentype"), url("../font/hufs/hufs_L.woff") format("woff"),
    url("../font/hufs/hufs_L.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "hufs_M";
  src: url("../font/hufs/hufs_M.eot");
  src: url("../font/hufs/hufs_M.eot?#iefix") format("embedded-opentype"), url("../font/hufs/hufs_M.woff") format("woff"),
    url("../font/hufs/hufs_M.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
