.signin-div {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
/* form-sigin */
.form-signin {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/* login-form-div */
.login-form-div {
  border: 5px solid #bea17f;
  margin-top: 10px;
  padding: 30px 50px;
  box-shadow: 0px 1px 2px #9c9c9c;
  background-color: #fff;
  box-sizing: border-box;
}
.login-form-div h2 {
  display: block;
  border-bottom: 1px solid #cccccc;
}
.login-form-div .alert {
  margin-top: 20px;
  background-color: #f2f5f5;
  border: 3px solid #b1ccd0;
  border-radius: 0 !important;
  font-size: 14px;
}
.login-form-div .login-as-div {
  margin-bottom: 10px;
}
.login-form-div .login-as-div span {
  position: relative;
  top: -1px;
}
/* inputs */
#emp-no-input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#password-input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#sign-in-button {
  color: #ffffff;
  background: linear-gradient(to bottom, #48759d 0%, #39668f 41%, #18456f 100%);
}
